.li {
  color: var(--text-color);
  font-size: 16px;

  list-style: none;
  margin-left: 2rem;

  &::marker {
    content: "> ";
    color: var(--text-color);
    background-color: var(--text-color);
  }
}