.li {
  color: var(--text-color);
  font-size: 16px;

  list-style: none;
  margin-left: 3rem;

  &::marker {
    content: "» ";
    color: var(--primary-color);
    background-color: var(--text-color);
  }
}