.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 99999;
  transition: opacity .3s;
}

.content {
  position: relative;
  background-color: var(--background-article-color);
  border-radius: 1rem;
  padding: 1rem;
  inset: 0;
  margin: auto;

  .title_cross {
    display: flex;
    justify-content: space-between;

    .title {
      color: var(--text-color);
    }

    .cross {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }

  .body {

  }
}

.active {
  transition: opacity .3s;
  opacity: 1;
  pointer-events: all;
}