@import "../layout.module";

.container {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 23px;
  background: var(--background-article-color);
  padding: 50px 30px;
  display: flex;
  justify-content: center;

  .markdown {
    max-width: 40rem;
    width: 100%;

    ::-moz-selection {
      color: #FFFFFF;
      background: var(--red-color);
    }

    ::selection {
      color: #FFFFFF;
      background: var(--red-color);
    }
    //height: 100%;
  }

  @include for-tablet-down() {
    border-radius: 0;
    padding: 50px 10px;
  }
}