@import "../layout.module";

.container {
  width: 100%;
  min-height: 70vh;
  height: 100%;
  border-radius: 23px;
  background: var(--background-article-color);
  padding: 50px 30px;
  //box-shadow: -2px 2px 12px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  //align-items: center;

  .markdown {
    max-width: 40rem;
    width: 100%;

    ::-moz-selection {
      color: #FFFFFF;
      background: var(--red-color);
    }

    ::selection {
      color: #FFFFFF;
      background: var(--red-color);
    }
    //height: 100%;
  }

  @include for-tablet-down() {
    border-radius: 0;
  }
}