.button {
  max-width: 100%;
  width: 100%;
  outline: none;
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  font-size: 1rem;
  padding: 10px .5rem;
  transition: background .3s ease-out, color .3s ease-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  &:hover {
    background: var(--primary-color);
    color: #FFFFFF;
    transition: background .3s ease-out, color .3s ease-out;
  }
}