.title {
  margin: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  row-gap: 10px;
}

.empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}