.react-flow__node {
  border-color: #555555;
}

.react-flow__handle {
  background: var(--primary-color) !important;
}

.react-flow__node-default.selectable.selected {
  box-shadow: none;
}

.red {
  border-color: var(--primary-color);
}

.green {
  border-color: var(--green-color);
}

.blue {
  border-color: var(--red-color);
}

.purple {
  border-color: var(--purple-color);
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.reactFlowWrapper {
  margin: 20px 0;
}

.reactFlowWrapper.center {
  margin: 0 auto;
}

.reactFlowWrapper.right {
  margin: 0 0 0 auto;
}