.subtitle {
  color: var(--text-color);
  font-size: 22px;
  font-weight: bold;
  //margin: 20px 0;
  margin: 20px .4rem;

  &::before {
    content: "/ ";
    color: var(--primary-color);
    position: relative;
    top: -2px;
  }
  @media screen and (max-width: 400px) {
    //font-size: var(--subtitle-size-xs);
  }
}