@import "../layout.module";

.main {
  display: grid;
  grid-template-columns: 400px auto;
  gap: 3rem;
  padding: 1rem 6rem 1rem 3rem;
  height: calc(100vh - var(--header-height));
  overflow-y: hidden;
}