.profile {
  margin-top: calc(var(--header-height) + 20px);
  color: var(--text-color);

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    row-gap: 10px;
  }

  .item {
    border-radius: 7px;
    display: grid;
    grid-template-columns: 25px auto repeat(3, 20px);
    border: 1px solid var(--primary-color);
    padding: .5rem;
    width: 100%;
    align-items: center;

    .number, .delete, .edit, .public {
      justify-self: center;
    }

    .title {
      cursor: pointer;
      width: auto;
    }
  }
}