@import "@/app/article/layout.module";

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  box-shadow: var(--header-box-shadow);
  align-items: center;
  padding: 0 32px;
  background: var(--background-header-color);
  height: var(--header-height);

  @include for-small-tablet-down() {
    padding: 0 8px;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    span {
      font-size: 2rem;
      font-weight: 600;

      cursor: pointer;
      user-select: none;

      &::before {
        //margin: 0 5px;
        content: "[";
        color: var(--primary-color);
      }

      &::after {
        //margin: 0 5px;
        content: "]";
        color: var(--primary-color);
      }
    }
  }

  .theme_user {
    display: flex;
    column-gap: 3vw;
    align-items: center;
  }
}