.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: end;
  box-shadow: var(--header-box-shadow);
  align-items: center;
  padding: 0 1.5rem;
  background: var(--background-header-color);
  height: var(--header-height);

  .logo {
    position: absolute;
    inset: 0;
    margin: auto;
    //width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 2rem;
      font-weight: 600;

      cursor: pointer;
      user-select: none;

      &::before {
        //margin: 0 5px;
        content: "[";
        color: var(--red-color);
      }

      &::after {
        //margin: 0 5px;
        content: "]";
        color: var(--red-color);
      }
    }
  }

  .theme_user {
    display: flex;
    column-gap: 3vw;
    align-items: center;
  }
}