.title {
  margin: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
}

.empty {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.admin {
  color: #17c400 !important;
}

.moderator {
  color: #c98300 !important;
}

.user {
  color: var(--primary-color) !important;
}